<h2>Recently Added Books</h2>
<<<<<<< HEAD
<h2>Testing Add</h2>
=======
>>>>>>> 77964632888dcb1c3cb65ec07fe19a75c4517769
<div>
  <% books.forEach(book => { %>
  <img height="150" width="100" src="<%= book.coverImagePath %>" />
  <% }) %>
</div>
